@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');
@import url(animaciones.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* Variables */
:root{
    --color-white: #fff;
    --color-black: #000;
    --color-gray: rgb(197, 197, 197);
    --color-blue-links: rgb(14, 77, 224);
    --color-gray-footer: rgb(100, 100, 100);
}

body {
    background-color: var(--color-white);
    background: linear-gradient(to bottom,var(--color-white),rgb(177, 177, 177));
    background-repeat: no-repeat;
    font-family: sans-serif;
}

    /* Header */
header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    box-shadow: 2px 2px 13px rgb(54, 54, 54);
    z-index: 6;
    overflow: hidden;
    animation: header-mini 3s;
}

.title{
    font-size: 25px;
    margin-left: 40px;
    font-family: 'Abel', sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul {
    list-style: none;
}

.ul .ul-li-item {
    display: inline-block;
    padding: 10px 15px;
}

.item-link {
    text-decoration: none;
    color: var(--color-white);
    transition: all 0.5s ease 0s;
    padding: 10px 8px;
    border-radius: 5px;
}

.item-link:hover {
    background-color: rgb(70, 70, 70);
    text-decoration: underline 2px solid #fff;
}

.btn {
    display: none;
    background-color: var(--color-black);
    padding: 10px 13px;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.item-link-bars {
    color: var(--color-white);
    font-size: 20px;
}

    /* Section´s*/

section {
    padding:  100px 200px;
    margin: auto;
    display: block;
}

.sobre-mi-img {
    width: 230px;
    height: 230px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--color-white);
    box-shadow: 3px 13px 25px var(--color-black);
    animation: rotacion-360 3s;
    transition: all .3s ease 0s;
}

.sobre-mi-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sobre-mi-text {
    margin: auto;
    width: 500px;
    text-align: center;
    padding: 25px;
}

.sobre-mi-text h3 {
    padding: 10px 0px;
}

.sobre-mi-text p {
    text-align: justify;
}

.btn-downoload {
    width: 150px;
    height: 40px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

.btn-downoload a{
    color: var(--color-white);
    text-decoration: none;
}

.btn-downoload:hover {
    filter: opacity(90%);
    text-decoration: underline 2px;
}



    /*Seccion de Contacto*/

.contacto h3 {
    font-size: 24px;
    text-align: center;
}

.hr-contacto {
    border: none;
    width: 5%;
    height: 3px;
    background-color: var(--color-black);
    margin: auto;
}

.contacto form {
    margin: 50px 500px;
    padding: 30px 30px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--color-black);
}

input[type=text], input[type=email] {
    width: 300px;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
}

input[type=submit] {
    width: 110px;
    height: 30px;
    border: none;
    background-color: var(--color-gray);
    color: var(--color-black);
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s ease 0s;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    transform: scale(1.1);
    border: .1px solid var(--color-white);
}

 /* Footer*/

 footer {
    margin: auto;
    text-align: center;
}

.hr-footer {
    border: none;
    background-color: var(--color-gray-footer);
    width: 100%;
    height: 2px;
    margin-bottom: 15px;
}

.contac {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contac ul {
    list-style: none;
}

.contac li {
    display: inline-block;
    margin: 0px 10px;
}

.contac li a {
    font-size: 29px;
    color: var(--color-gray-footer);
    transition: all .3s ease 0s;
}

.git:hover {
    color: var(--color-black);
}

.twiter:hover {
    color: rgb(32, 157, 241);
}

footer p {
    padding-bottom: 25px;
    font-size: 15px;
    color: var(--color-gray-footer);
    transition: all 0.3s ease 0s;
}

footer p:hover {
    color: var(--color-black);
}

@media (max-width: 1500px) {
    
}

@media (max-width: 830px) {
    header{
        padding: 10px 5px;
    }

    .ul .ul-li-item{
        display: block;
        margin: auto;
        text-align: center;
        padding: 20px 0;
    }

    .ul .ul-li-item:hover{
        background-color: none;
        color: var(--color-blue-links);
    }


    header .nav {
        flex-direction: column;
        margin: 0;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        height: calc(100% - 60px);
        background-color: var(--color-black);
        color: var(--color-white);

        left: 100%;
        transition: left .3s ease 0s;
    }

    header .nav-visibility {
        left: 0;
    }

    .btn {
        display: block;
    }

    section {
        padding:  100px 5px;
        margin: auto;
        display: block;
    }

    .sobre-mi-text{
        width: 100%;
    }

    .sobre-mi-img {
        width: 200px;
        height: 200px;
    }

    .contacto form {
        margin: 10px 15%;
        padding: 20px;
        border-radius: 8px;
    }
    
    input[type=text], input[type=email] {
        width: 100%;
        height: 40px;
    }
    
}

@media (max-width: 430px) {
    .contacto form {
        margin: 20px 15px;
        padding: 20px;
        border-radius: 8px;
    }
    
}